include LICENSE
include README.rst
include tox.ini
include Makefile
include .coveragerc
include CHANGELOG
global-include *.rst *.py *.html
global-include varlet/templates *.txt
recursive-include varlet *.css
recursive-include varlet *.js
recursive-include varlet *.tag
